nltk==3.8.1
numpy==1.26.4
pandas==2.2.0
scikit-learn==1.4.1.post1
seaborn==0.13.2
streamlit==1.35.0
tqdm==4.66.2






numpy==1.21.1
pickle-mixin==1.0.2
streamlit==1.2.0
streamlit-option-menu==0.3.2
scikit-learn==0.24.1
